@tailwind base;
@tailwind components;
@tailwind utilities;



.slide-fade-enter-active {
    transition: opacity 0.3s, transform 4s;
}

.slide-fade-exit-active {
    transition: opacity 0.3s, transform 4s;
}
.slide-fade-enter,
.slide-fade-exit-to {
    opacity: 0;
}

.slide-fade-exit,
.slide-fade-enter-to {
    opacity: 100%;

}
